<form name="createStockForm" ng-submit="$ctrl.onSubmit(createStockForm)" class="form-inline">

    <div class="input-group mb-3 mx-sm-1">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelectCompany">Company</label>
        </div>
        <select class="custom-select" id="inputGroupSelectCompany" required ng-model="$ctrl.data.company">
            <option selected value="">Choose...</option>
            <option value="{{company.id}}" ng-repeat="company in $ctrl.companies">{{company.name}}</option>
        </select>
    </div>

    <div class="input-group mb-3 mx-sm-1">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelectMarket">Market</label>
        </div>
        <select class="custom-select" id="inputGroupSelectMarket" required ng-model="$ctrl.data.market">
            <option selected value="">Choose...</option>
            <option value="{{market.id}}" ng-repeat="market in $ctrl.markets">{{market.name}}</option>
        </select>
    </div>

    <div class="input-group mb-3 mx-sm-1">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelectType">Stock Type</label>
        </div>
        <select class="custom-select" id="inputGroupSelectType" required ng-model="$ctrl.data.type">
            <option selected value="">Choose...</option>
            <option value="preferred">Preferred stock</option>
            <option value="common">Common stock</option>
        </select>
    </div>

    <div class="form-group mb-3 mx-sm-1">
        <input name="price" ng-model="$ctrl.data.price" required type="number" class="form-control" step=".01" placeholder="Price">
    </div>

    <div class="form-group mb-3">
        <button type="submit" class="btn btn-primary mx-sm-1">Add</button>
        <button type="button" class="btn btn-danger" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</form>